<div class="container">
    <div id="intro_statements" class="hidden">
        <span>Hello,</span>
        <span>I´m Dero</span>
        <span>I make:</span>
        <span>Private Smart Contracts</span>
        <span>＋ Untraceable transactions </span>
    </div>

</div>

<div class="intro" id="intro">

        <div class="intro_text">
            <div class="container">

                <div class="row">
                    <div class=" col-md-8 col-md-offset-2">
                        <div class="row"><h3 id="changing_text"><span class="text">Smart contracts with privacy</span></h3></div>
                        <div class="row fadeonload animated" data-animation="fadeInUp" >
                            <div class="col-md-12">
                                <div class="manifesto">
                                    <p class="xs-mt-10"><span class="bold">Manifesto:</span>
                                        With the increasing use of social media, as well as the Internet of Things - where everyday devices are loosely networked on the internet - society is heading towards hyper-connectivity in the digital domain. As a result, Secure Verification, Authorization, Smart Contracts and Private Payments will play an increasingly important role. However, current platforms for verification, authorization and smart contracts are either public by default or have no means of maintaining privacy. The DERO Project aims to build a decentralized blockchain which allows the people to control what details are shared with corporations and service providers, or even the public at large.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="container">

                <div id="circle-orbit-container" class="">
                    <div class="orbits">
                        <!-- Circles closest to the central point -->
                        <div id="inner-orbit" class="orbit">
                            <div class="inner-orbit-cirlces circle"></div>
                        </div>

                        <!-- Circles second closest to the central point -->
                        <div id="middle-orbit" class="orbit">
                            <div class="middle-orbit-cirlces circle"></div>
                        </div>

                        <!-- Circles furthest away to the central point -->
                        <div id="outer-orbit" class="orbit">
                            <div class="outer-orbit-cirlces circle"></div>
                        </div>

                        <div class="logo_dero_intro">
                            <img  height="80" class="logo_orbit" src="img/logo_big_transparent.png"/>
                        </div>
                    </div>
                    <div class="path_to_city hidden-sm hidden-xs">

                        <div class="path_to_city_right">
                        </div>
                    </div>

                    <div class="path_to_city vert hidden-sm hidden-xs">

                        <div class="fadeonload animated" data-animation="fadeInUp">
                            <div class="lock_ico">
                                <span class="ico glyph-icon hidden lock_open flaticon-lock " ></span>
                                <span class="ico glyph-icon lock_close flaticon-tool " ></span>
                            </div>
                        </div>
                    </div>



                </div>


                <div id="main_centerorbit" class="hidden-sm hidden-xs"></div>
                <div id="main_centerorbit_circle" class="hidden-xs"></div>



                <div id="container" class="hidden-xs hidden-md hidden-sm hidden-xs">
                    <div id="sphere">
                        <div class="sphere_circle" id="c0"></div>
                        <div class="sphere_circle" id="c1"></div>
                        <div class="sphere_circle" id="c2"></div>
                        <div class="sphere_circle" id="c3"></div>
                        <div class="sphere_circle" id="c4"></div>
                        <div class="sphere_circle" id="c5"></div>
                        <div class="sphere_circle" id="c6"></div>
                        <div class="sphere_circle" id="c7"></div>
                        <div class="sphere_circle" id="c8"></div>
                        <div class="sphere_circle" id="c9"></div>
                        <div class="sphere_circle" id="c10"></div>
                        <div class="sphere_circle" id="c11"></div>
                        <div class="sphere_circle" id="c12"></div>
                        <div class="sphere_circle" id="c13"></div>
                        <div class="sphere_circle" id="c14"></div>
                        <div class="sphere_circle" id="c15"></div>
                        <div class="sphere_circle" id="c16"></div>
                        <div class="sphere_circle" id="c17"></div>
                        <div class="sphere_circle" id="c18"></div>
                        <div class="sphere_circle" id="c19"></div>
                        <div class="sphere_circle" id="c20"></div>
                        <div class="sphere_circle" id="c21"></div>
                        <div class="sphere_circle" id="c22"></div>
                        <div class="sphere_circle" id="c23"></div>
                        <div class="sphere_circle" id="c24"></div>
                        <div class="sphere_circle" id="c25"></div>
                        <div class="sphere_circle" id="c26"></div>
                        <div class="sphere_circle" id="c27"></div>
                        <div class="sphere_circle" id="c28"></div>
                        <div class="sphere_circle" id="c29"></div>
                        <div class="sphere_circle" id="c30"></div>
                        <div class="sphere_circle" id="c31"></div>
                        <div class="sphere_circle" id="c32"></div>
                        <div class="sphere_circle" id="c33"></div>
                        <div class="sphere_circle" id="c34"></div>
                        <div class="sphere_circle" id="c35"></div>
                        <div class="sphere_circle" id="c36"></div>
                        <div class="sphere_circle" id="c37"></div>
                        <div class="sphere_circle" id="c38"></div>
                        <div class="sphere_circle" id="c39"></div>
                        <div class="sphere_circle" id="c40"></div>
                        <div class="sphere_circle" id="c41"></div>
                        <div class="sphere_circle" id="c42"></div>
                        <div class="sphere_circle" id="c43"></div>
                        <div class="sphere_circle" id="c44"></div>
                        <div class="sphere_circle" id="c45"></div>
                        <div class="sphere_circle" id="c46"></div>
                        <div class="sphere_circle" id="c47"></div>
                        <div class="sphere_circle" id="c48"></div>
                        <div class="sphere_circle" id="c49"></div>
                        <div class="sphere_circle" id="c50"></div>
                        <div class="sphere_circle" id="c51"></div>
                        <div class="sphere_circle" id="c52"></div>
                        <div class="sphere_circle" id="c53"></div>
                        <div class="sphere_circle" id="c54"></div>
                        <div class="sphere_circle" id="c55"></div>
                        <div class="sphere_circle" id="c56"></div>
                        <div class="sphere_circle" id="c57"></div>
                        <div class="sphere_circle" id="c58"></div>

                    </div>
                </div>



            </div>

        </div>




    <div class="back_image"> <img class="back_image" src="img/back01.jpg"/></div>

</div>