<div class="clearfix"></div>

<div id="project" class="xs-pt-30">

    <div class="container text-center xs-mt-40">

        <div class="row tit fadeonload animated delay1" data-animation="visible fadeIn">
            <h2 class="bold">About Dero</h2>


            <div class=" col-md-8 col-md-offset-2 xs-mt-30">
                DERO is a new, experimental blockchain technology written in Golang with a focus on enhanced Privacy and Smart Contracts while maintaining the transparency and security of the blockchain.<br>
                The goal is to create a unique state of the art blockchain technology with enhanced Reliability, Privacy, Security, Usability, and Portability by bringing together some of the best proven technologies like CryptoNote Protocol and Smart Contracts, thereby allowing for the creation of Private Smart Contracts.
            </div>
        </div>

        <div class="row ">
            <div class="col-md-12">
                <div class="smart_contract_ico hidden-xs">
                    <i class="plus"> Dero =</i> <img height="" class="" src="img/logo_contract_ico.png"/> <i class="plus">＋</i> <i class="icon flaticon-security-on"></i>
                </div>
            </div>
        </div>


        <div class="row xs-mb-50 sm-mt-0 xs-mt-30">
            <div class="col-md-12">
                <div class=" ">
                    <a data-animation="visible fadeInUp" target="_blank" href="https://github.com/deroproject/documentation/blob/master/WhitePaper.md" class="btn btn-default fadeonload animated delay1"><i class="flaticon-signing-the-contract"></i> WhitePaper</a>
                    <a data-animation="visible fadeInUp" target="_blank" href="https://github.com/deroproject" class="btn btn-default fadeonload animated delay2"><i class="flaticon-github-character"></i> Sources</a>
                    <a data-animation="visible fadeInUp" target="_blank" href="https://explorer.dero.io/" class="btn btn-default fadeonload animated delay3"><i class="flaticon-keyhole-silhouette"></i> Explorer</a>
                </div>
            </div>
        </div>

    </div>



<div class="parallax-window" data-parallax="scroll" data-image-src="img/parallax.jpg">
    <div class="container xs-pb-30" id="smartcontracts_cube" >

        <div class="row   xs-mt-50 fadeonload animated" data-animation="visible fadeIn">
            <div class="col-md-4 col-md-offset-4 xs-ml-30">
                <h3 class="">Smart Contract <i class="flaticon-question-mark"></i></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 xs-mb-50 xs-p-0 text-center smart_contractcol fadeonload animated" data-animation="visible fadeInLeft">
                <div class="cube">
                    <div class="top"></div>
                    <div class="right"></div>
                    <div class="left"></div>
                    <div class="bottom"></div>
                    <i class="flaticon flaticon-data-management-interface-symbol-with-gears-and-binary-code-numbers"></i>
                    <div class="back"></div>
                    <div class="front"></div>
                </div>
            </div>

            <div class="col-md-8 xs-p-30 text-l fadeonload animated" data-animation="visible fadeIn">

                <p>Smart Contract is a computer protocol intended to digitally facilitate, verify, or enforce
                    the negotiation or performance of a contract . Smart contracts allow the performance
                    of credible transactions without third parties. These transactions are trackable and
                    irreversible. <i>Smart contracts were first proposed by Nick Szabo in 1994.</i></p>
                <p>Enhanced Reliability, Privacy, Security, Usability, Portability are the key points from the
                    very beginning on DERO blockchain.</p>
                <p>On DERO blockchain, Assume a smart contract to access/authorize a
                    building/open a door or any other service like asset-management/purchasing- tickets or
                    any other products.</p>
                <p>Normally all would not like to share and view details of all other users or customers
                    who used, participated, access that contract or service.
                    Everyone like transparency in contract details but would not like to share or disclose
                    their details to rest of the world.</p>


                <div class="row xs-mt-20">
                    <div class="col-md-5">
                        <p class="ver_align"><i class="flaticon-wikipedia-logotype-of-earth-puzzle ico_big xs-pr-20"></i> <small>For more details about Blockchain, CryptoNote Protocol and Smart Contract see:</small></p>

                    </div>

                    <div class="col-md-7">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <div class="row xs-mt-20">
                                <div class="col-md-12">
                                    <div class="btn-group ">
                                        <a target="_blank" href="https://en.wikipedia.org/wiki/Smart_contract" class="btn btn-primary"><small>Smart Contracts</small></a>
                                        <a target="_blank" href="https://en.wikipedia.org/wiki/CryptoNote" class="btn btn-primary"><small>CryptoNote</small></a>
                                        <a target="_blank" href="https://en.wikipedia.org/wiki/Blockchain"  class="btn btn-primary"><small>BlockChain</small></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>



            </div>

        </div>

    </div>
</div>


    <div  >
        <div class="container" >

            <div class="row xs-mb-30 xs-mt-50 xs-mb-50">
            <div class="col-md-5 col-md-offset-2 text-left xs-pt-30">
                <h3 class="bold xs-mb-20">DERO Virtual Machines</h3>
                Smart Contracts on the DERO blockchain will run on DERO Virtual Machines (DVM).
                DVM is a Turing complete, 256-bit Virtual Machine runtime environment for DERO Smart Contracts with CryptoNote Protocol and
                additional modifications.<br><br>
                DVM is unique because, in addition to executing Smart Contracts, it will maintain the privacy and fungiblity of the identities
                involved in the Smart Contracts.
                DVM will support the Solidity and Golang languages.
                DVM is in the development phase, and several other features and optimizations are planned.<br>
            </div>

            <div class="col-md-4 col-sm-12 computercol fadeonload animated " data-animation="visible fadeInRight">

                <div id="computer">
                    <div id="side"></div>
                    <div id="top"></div>
                    <div id="front"></div>
                    <div id="screen"></div>
                    <div id="text">
                        <div>$&nbsp;-Dero VMachine</div>
                        <div>DVM 1.0 Loading...</div>
                        <div><script>var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun","Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];var weekday=new Array(7);weekday[0]="Sun",weekday[1]="Mon",weekday[2]="Tue",weekday[3]="Wed",weekday[4]="Thu",weekday[5]="Fri",weekday[6]="Sat";var currentTime=new Date,n=weekday[currentTime.getDay()];document.write(n+" "+currentTime.getDate()+" "+(monthNames[currentTime.getMonth()])+" "+currentTime.getFullYear());</script></div>
                        <div>SmartContracts coming---</div>
                    </div>

                    <div id="button_comp"></div>
                </div>



            </div>

        </div>

        </div>
    </div>



















</div>

