<div class="clearfix"></div>

<div id="roadmap" class="xs-pt-30 xs-pb-30 reversed xs-pb-50 animated fadeonload"  >


    <div id="layers" data-parallax="scroll" class="parallax-window reversed">
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
    </div>

    <div class="container ">
        <div class="row fadeonload animated" data-animation="visible fadeIn">
        <div class="col-md-8 col-md-offset-2 text-center">
            <h2 class="bold xs-mt-50 ">Roadmap</h2>
            <h3 class="xs-mt-20 xs-mb-20"><i class="flaticon-distance"></i> Where we are, where we go</h3>
            <p class="text-justify">
                DERO was started as a code fork of Monero (which itself started as fork of Bytecoin). Utilizing the CryptoNote protocol, DERO aims to be a completely new blockchain technology, integrating cryptonote protocol features for privacy and also new smart contract control. Cryptonote core is in the process of updates in golang. DERO will be introducing smart contracts on DERO blockchain. CryptoNote protocol implementation in Golang is almost completed.
            </p>
        </div>
        </div>
    </div>

    <div class="container xs-mt-40">
    <div class="col-md-8 col-md-offset-2">
    <div class="timeline">

        <div class="container_timeline left fadeonload animated2 delay1" data-animation=" fadeIn" >
            <div class="content">
                <i class="flaticon-code-fork-symbol"></i>
                <h2>First Quarter-2018. </h2>
                <p>Implementation of CryptoNote Protocol in Golang</p>
            </div>
        </div>

        <div class="container_timeline right fadeonload animated2 delay2" data-animation=" fadeIn">
            <div class="content">
                <i class="flaticon-smartphone-call"></i>
                <h2>Second Quarter-2018.</h2>
                <p>GUI wallets,Subaddress support,Atomic swap,Smart contracts testing.</p>
            </div>
        </div>


        <div class="container_timeline left fadeonload animated2 delay3" data-animation=" fadeIn">
            <div class="content">
                <i class="flaticon-data-management-interface-symbol-with-gears-and-binary-code-numbers"></i>
                <h2>Third Quarter-2018.</h2>
                <p>Smart contracts support introduced to the blockchain</p>
            </div>
        </div>
        <div class="container_timeline right fadeonload animated2 delay4" data-animation=" fadeIn">
            <div class="content">
                <i class="flaticon-question-mark"></i>
                <h2>Fourth Quarter-2018.</h2>
                <p>Partnerships, Enhancements.<br>Read <a target="_blank" href="https://github.com/deroproject/documentation/blob/master/WhitePaper.md">whitepaper</a> for more details.</p>
            </div>
        </div>
    </div>
    </div>
    </div>
    <div class="container">
        <div class="row xs-mt-30 xs-mb-50">
            <div class=" col-md-6 col-md-offset-3">
                <div class="text-center">
                    <i class="flaticon-light-bulb"></i>
                    The Community can also give their suggestions and ideas which they would like to see implemented on the DERO blockchain. DERO is a
                    completely new blockchain with many additional features planned.
                </div>
            </div>
        </div>
    </div>

</div>