<div id="join" class="xs-pt-30 xs-pb-30" >

    <div class="container ">
        <div class="row ">
        <div class="col-md-8 col-md-offset-2 text-center">
            <h2 class="bold xs-mt-50 ">Join the project</h2>


        </div>
        </div>

        <div class="row get_dero xs-mt-30">

            <div class="col-md-3 col-md-offset-3 xs-mb-20 text-center fadeonload animated delay1" data-animation="visible fadeInRight">
                <i class="flaticon-workers-with-safety-helmets"></i>
                <h4> Start Mining</h4>
                <ul>
                    <li> <a target="_blank" href="http://pool.dero.live/">http://pool.dero.live  Official pool</a></li>
                    <li><a target="_blank" href="https://bitcointalk.org/index.php?topic=2525508.0">Check our full list of mining pools</a></li>
                </ul>
            </div>

            <div class="col-md-3 text-center xs-mb-20  fadeonload animated delay2" data-animation="visible fadeInLeft">
                <i class="flaticon-cash"></i>
                <h4>Buy Dero</h4>
                <div class="">
                    <div class="col-sm-6">
                        <a target="_blank" href="https://stocks.exchange/trade/DERO/BTC">
                            <img class="img-responsive" src="img/logo_stocks.exchange.png" height="40">
                        </a>
                    </div>
                    <div class="col-sm-6">
                        <a target="_blank" href="https://www.southxchange.com/Market/Book/DERO/BTC">
                            <img class="img-responsive" src="img/logo_south.exchange.png" height="40">
                        </a>
                    </div>
                </div>
            </div>

        </div>


        <div class="row xs-mt-30">
            <h3 class="text-center">DERO PRACTICAL BLOCKCHAIN DEVELOPMENT</h3>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center join_community">
                        <h4><i class="flaticon-users-group"></i> Join the community</h4>
                        <p class="text-justify col-md-12 xs-mt-10">
                            DERO will take a reverse approach to development, using real world examples, usages, and community suggestions to develop and
                            enhance a practical blockchain which can be deployed and used widely. The DERO Project welcomes all users to participate in
                            development. <a target="_blank" href="https://forum.dero.io">Please <u>contribute your ideas and suggestions</u></a>
                        </p>

                        <div class="icons_community">

                            <ul>
                                <li><a class="" target="_blank" href="https://forum.dero.io/">Official Forum <img class="xs-ml-10" src="img/logo_flat.png" height=25 /></a></li>

                                <li><a target="_blank" href="https://bitcointalk.org/index.php?topic=2525508.0">BitcoinTalk <i class="flaticon-bitcoin-logo"></i></a></li>

                                <li><a target="_blank" href="https://twitter.com/DeroProject">Twitter <i class="flaticon-twitter"></i></a></li>

                                <li><a target="_blank" href="https://www.reddit.com/r/DeroProject/">Reddit <i class="flaticon-reddit-alien-head-logo"></i></a></li>

                                <li><a target="_blank" href="https://deroproject.slack.com/join/shared_invite/enQtMzAwMDc5MDY4NDUzLTAzOWNjYWZmNDgxZTk1YjNiNWFiYjg1OWNiMmQ2MmUxOWRmNjNjOWM3ODAzMzE3M2RhNzBhZjUyZGQxYjQxY2U">Slack <i class="flaticon-slack-symbol"></i> </a></li>


                            </ul>

                        </div>
                    </div>
                </div>

        </div>

        <div class="row xs-mt-20 text-center">
            <div class="col-md-12">
                <a target="_blank" class="btn btn-primary" href="http://feeds.feedburner.com/Dero-LatestTopics">Follow Dero: <i class="flaticon-rss-feed-symbol"></i></a>
            </div>
        </div>


        <div class="row xs-mb-0 sm-mt-50 xs-mt-50">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class=" ">
                    <h3 class="bold">About Us</h3>
                    Incorporating a DERO PROJECT company which will research, develop, market, and expand DERO Blockchain. Company would hire more developers, expand the marketing team, add advisors, and would be representing DERO to the world
                </div>
            </div>
        </div>
    </div>

</div>