<div class="clearfix"></div>
<div id="footer_container">


<div class="ocean_container">
<div class="ocean_footer">

    <i class="iconwaves flaticon-circle-between-hands"></i>
    <div class="ocean__wave ocean__wave--1"></div>
    <div class="ocean__wave ocean__wave--2"></div>
    <div class="ocean__wave ocean__wave--3"></div>
</div>
</div>

<div id="footer" class="footer xs-mt-30 xs-pt-10 xs-pb-10">
    <div class="container">


        <div class="pull-left">
            <ul class="footer_icons">
                <li><a target="_blank" href="https://deroproject.slack.com/join/shared_invite/enQtMzAwMDc5MDY4NDUzLTAzOWNjYWZmNDgxZTk1YjNiNWFiYjg1OWNiMmQ2MmUxOWRmNjNjOWM3ODAzMzE3M2RhNzBhZjUyZGQxYjQxY2U"><i class="flaticon-slack-symbol"></i> Slack</a></li>
                <li><a target="_blank" href="https://github.com/deroproject"><i class="flaticon-github-character"></i> GitHub</a></li>
            </ul>
        </div>

        <div class="pull-right">
            Dero Project. 2017-18 ©
        </div>

    </div>
</div>



</div>
