

<header>

    <img class="logo_header" src="img/logo_small_transparent.png"  >




    <input type='checkbox' id='toggle' style='display:none;' />
    <label id="toggle-btn" class='toggle-btn toggle-btn__cross' for='toggle'>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </label>
    <nav id="nav">
        <ul class="mainmenu">
            <li><a data-target="#!intro" href="">The Manifesto</a></li>
            <li><a data-target="#!project" href="">The Project</a></li>
            <li><a data-target="#!roadmap" href="">The path</a></li>
            <li><a id="join_link" data-target="#!join" href="">Join</a></li>
            <li class="xs-mt-60 xs-pt-20 hidden-xs"><img src="img/logo_flat.png" height=40 /></li>
        </ul>


        <div class="submenu ">
            <div class="container">
                <div class=" col-md-8 col-md-offset-2 ">
                    <div class="row text-center">
                    <div class="col-md-4 col_submenu hidden-xs">
                        <h4 class="bold">Links <i class="flaticon-network"></i></h4>
                        <ul>
                            <li><a target="_blank" href="https://github.com/deroproject/documentation/blob/master/WhitePaper.md" >WhitePaper</a></li>
                            <li><a target="_blank" href="https://github.com/deroproject" >Sources</a></li>
                            <li><a target="_blank" href="https://explorer.dero.io/" >Explorer</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 col_submenu hidden-xs">
                        <h4 class="bold">About Us <i class="flaticon-group"></i></h4>
                        <p><a onclick="$('#join_link').click(); return false;" href="">DEROPROJECT COMPANY</a></p>
                    </div>
                    <div class="col-md-4 col_submenu">
                        <h4 class="bold">Contact <i class="flaticon-support"></i></h4>
                        <ul>
                            <li><a target="_blank" href="https://deroproject.slack.com/join/shared_invite/enQtMzAwMDc5MDY4NDUzLTAzOWNjYWZmNDgxZTk1YjNiNWFiYjg1OWNiMmQ2MmUxOWRmNjNjOWM3ODAzMzE3M2RhNzBhZjUyZGQxYjQxY2U">Slack</a> </li>
                            <li><a target="_blank" href="https://forum.dero.io/">Forum</a> </li>
                            <li><a target="_blank" href="https://bitcointalk.org/index.php?topic=2525508.0">BitcoinTalk</a> </li>
                            <li><a target="_blank" href="https://twitter.com/DeroProject">Twitter</a> </li>
                            <li><a target="_blank" href="https://www.reddit.com/r/DeroProject/">Reddit</a> </li>
                        </ul>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </nav>





</header>


