<!-- backup for blocks removed by request (header laptop, etc)-->





<!--<div class="lang_submenu">
        <span id="current_lang">EN</span>
        <ul class="submenu">
            <li><a href="index_es.html">Español</a> </li>
            <li class="notavail"><a href="">조선말/한국어</a></li>
            <li class="notavail"><a href="">Deutsch</a></li>
            <li class="notavail"><a href="">中文</a></li>
            <li class="notavail"><a href="">Français</a></li>
            <li class="notavail"><a href="">العَرَبِيَّ </a></li>
            <li class="notavail"><a href="">日本語</a></li>
            <li class="notavail"><a href="">Italiano</a></li>
            <li class="notavail"><a href="">ру́сский язы́к</a></li>
            <li><a target="_blank" href="https://forum.dero.io/">Contribute ⚑</a></li>
        </ul>
    </div>-->


<!--<div class="box hidden-sm hidden-xs">
    <div class="computer-top">
        <div class="camera"></div>
        <div class="screen">
            <div class="code">
                <div class="line line01"></div>
                <div class="line line02"></div>
                <div class="line line03"></div>
                <div class="line line04"></div>
                <div class="line line05"></div>
                <div class="line line06"></div>
                <div class="line line07"></div>
                <div class="line line08"></div>
                <div class="line line09"></div>
                <div class="line line10"></div>
                <div class="line line11"></div>
                <div class="line line12"></div>
                <div class="line line13"></div>
                <div class="line line14"></div>
                <div class="line line15"></div>
            </div>
        </div>
    </div>
    <div class="computer-bottom">
        <div class="keyboard"></div>
    </div>
    <div class="bottom-box"></div>
</div>-->



